#pf-message{
	display: none;
}

#pf-form #pf-title, #pf-form #featured-image, #pf-form .mce-tinymce{
	margin-top: 30px;
	margin-bottom: 30px;
}

#pf-form #pf-title, #pf-form .mce-tinymce{
	border:#CCC solid 1px;
}

#pf-form #featured-image{
	
}

#pf-form #list-buttons{
	list-style: none;
}

#pf-form #list-buttons li{
	display: inline-block;
	margin-right: 10px;
}

#pf-featured-image{
	background: none repeat scroll 0 0 #ececec;
	border: 1px solid #e1e1e1;
	display: table;
	margin: 20px 0;
	padding: 20px 20px 10px;
	text-align: center;
}
#pf-featured-image-container{
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
	margin-bottom: 10px;
}

#pf-loader {
    border: 10px solid #f1f1f1; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pf-navigation ul{
	margin-top: 20px;
	list-style: none;
}

.pf-navigation li{
	border: #333 solid 1px;
	display: inline-block;
	padding: 5px 15px;
	
}
.pf-navigation li.active{
	background: #333;
	
}

.pf-navigation a[href], .pf-navigation a[href]:hover{
	text-decoration: none;	
	box-shadow: none;	
	border: none;	
	color: #333;
}

.pf-navigation li.active a[href]{
	color: #fff;
}